.auth {
  margin: 0 auto;
  margin-top: 20vh;
  margin-bottom: 50px;
  width: 90%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  form {
    width: 80%;
    margin: 0 auto;
  }
}

.auth-wide {
  align-items: unset !important;
  margin-top: 10vh !important;
}

.auth-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth .qr-image {
  margin-top: -100px;
  text-align: center;
}

.org-item {
  cursor: pointer;
}

