.homepage {
  padding: 40px;
  height: 100vh;

  .ant-list-item-meta-title {
    font-size: 20px !important;
  }
  .ant-list-item-meta-description {
    font-size: 17px !important;
  }
}
.list-view {
  padding: 10px;
  h4 {
    margin-bottom: 10px;
  }
  .list-view-btn {
    height: 50px;
    color: blue;
  }

  .list-view-btn:focus{
    outline: none;
    box-shadow: none;
  }

  .challenge_item {
    cursor: pointer;
  }

  .challenge_item:hover h4{
    color: black !important;
  }
}